* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    margin: 0 auto;
    width: 400px;
}
.form {
    display: flex;
    flex-direction: column;

    width: 100%;
    
}
button {
    width: 100%;
}
input {
    padding: 10px;
    margin: 10px;
}
select {
    padding: 10px;
    margin: 10px;
}
button {
    padding: 10px;
}
.result {
    color: blue;
    margin-top: 20px;
    font-size: 20px;
}