<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Document</title>
</head>
<body>
    <h1>Chatbot 1</h1>
    <h2>this chat will reset every 5 posts</h2>
    <div id="chatbox">
        <p><strong>Bot:</strong> Hello! How can I help you?</p>
    </div>
    <input type="text" id="userInput" placeholder="Type a message" autofocus>
    <button onclick="sendMessage()">Send</button>
    
    <script src="../static/main.js"></script>
</body>
</html>